torch==2.9.1
torchvision==0.24.1
torchaudio==2.9.1
opencv-python==4.11.0.86
diffusers==0.35.2
transformers==4.51.3
tokenizers==0.21.4
accelerate==1.11.0
tqdm
imageio[ffmpeg]
easydict
ftfy
dashscope
imageio-ffmpeg
numpy>=1.23.5,<2
einops
tabulate